body{
	/* background: #e6e6e6; */
	background: url("./nodo_transparencia_page-0001.jpg")!important;
	}

.titleColor{
	color: #DB2700!important;
	text-align: center;
	font-size: 100px;
}
.orange{
	color:#ff7b16!important;
	/* color:#FF3E2B!important; */
}
.bluelinkedin{
	color: #4875B4!important;
}
.bluetwitter{
	color: #33CCFF;
}
.white{
	color:#ffffff!important;
}

.gradientBg{
	background: rgb(255,174,6);
	background: linear-gradient(90deg, rgba(255,174,6,1) 0%, rgba(255,62,43,1) 100%);
}

.orange-bg{
	background:#ff712c!important;
}

.videoBg{
	background: url('./56-1080.mp4'):
}

.ralewayhead{
	font-family: 'Raleway'!important;
}

.ralewaytext{
	font-family: 'Roboto'!important;
	font-size: 1rem;
	color: #000000!important;
}

.ralewaytextbig{
	font-family: 'Roboto'!important;
	color: #000000!important;
}

.blackOpBg{
	background: rgba(0,0,0,.8)!important;
}
.whiteTranspBg{
	background: rgba(255, 255, 255, 0.9);
}
.blackText{
	color: #000000!important;
}
a{
	color: inherit!important;
}
.textSize{
	font-size: 2rem!important;
}
@media (max-width:1000px){
	.textSize{
		font-size: 1rem!important;
	}
}
.ion-icon{
	font-size: 60px!important;
}
.fullsize{
	max-height: 100%;
	height: 100%;
}

.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-teal-text {
color: #004d40;
}

.text_space{
	padding: 1rem
}


.no-js #loader{display: none;}
.js #loader {display: block; position: absolute; left: 100px; top: 0;}
.se-pre-con{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(./Onett_final.gif) center no-repeat #fff;
	background-color: #fbfbfb;
}

body, html {
  height: 100%;
}

.redBg{
	background: red:
}
